<%- include("header") -%>

<h2>This is the about us page</h2>

<p>a;jdfk haoweh fhw hhdnicyreayugbaeo;cneincehgaeoinc Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
    consequuntur iusto distinctio, adipisci, et incidunt animi soluta assumenda corrupti placeat harum amet, vel quam
    quaerat odio sequi. Blanditiis, voluptate in?</p>

    <%- include("footer") -%>